*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: yellow;
}
header{
    background-color: gray;
}
table{
    border: 5px solid black;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}